// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-col {
  display: flex !important;
}

.bar {
  background-color: #aaa;
  position: absolute;
}

#grip {
  height: 160px;
  width: 15px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#collar {
  height: 20px;
  width: 40px;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
}

#rack {
  height: 80px;
  width: 25px;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
}

#cap {
  height: 15px;
  width: 24px;
  bottom: 180px;
  // left: 49%;
  background-color: #aaa;
}

.weightContainer {
  // height: 100px;
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);

  hr:first-of-type {
    display: none;
  }
}

.plateExtraSmall {
  background-color: #DFDF00;
  height: 8px;
  width: 50px !important;
}

.plateSmall {
  background-color: #1FCB4A;
  height: 10px;
  width: 100px !important;
}

.plateMedium {
  background-color: #9669FE;
  height: 18px;
  width: 150px;
}

.plateLarge {
  background-color: #FF4848;
  height: 25px;
  width: 200px !important;
}

hr {
  height: 1px;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0) !important;
}
